
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    
        <title><%= article.title %></title>
    

    <meta name="description" content="<%= article.description %>">
    <link rel="stylesheet" 
	href="https://fonts.googleapis.com/css?family=Inconsolata:400,700">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

    <div class="wrapper">
        <div class="post">
	<div class="post__back">
    	<a href="/">&lt;-- home</a>
    </div>
    <div class="post__title">
    	<h1><%= article.title %></h1>
    </div>
    <div class="post__date">
    	<p><%= article.date %></p>
    </div>

    <div class="post__content"?>
        <div > <%- article.sanatized %></div>
    </div>
</div>

   </div>

</body>

</html>